$black: #000000;
$white: #FFFFFF;

$orange-100: #DF7900;
$orange-75: #FF8A00;
$orange-50: #FFE6C8;

$orange-95-a: rgba($orange-50, .95);
$orange-55-a: rgba($orange-50, .55);
$orange-40-a: rgba($orange-50, .4);
$orange-25-a: rgba($orange-50, .25);

